MANDRILL_USERNAME:  ''
MANDRILL_PASSWORD:  ''
MAILTRAP_USERNAME:  ''
MAILTRAP_PASSWORD:  ''
SECRET_KEY_BASE:    ''
AIRBRAKE_API_KEY:   ''
AIRBRAKE_HOST:      'errbit.katalyst.com.au'
AIRBRAKE_PORT:      '443'
AIRBRAKE_SECURE:    'true'
DEFAULT_TO_ADDRESS: 'admin@katalyst.com.au'
NO_REPLY_ADDRESS:   'no-reply@katalyst.com.au'
