// inline icons as a class
.icon-inline {
  @include icon-inline;
}

.icon--primary {
  .icon--fill {
    fill: $primary-color;
  }
  .icon--stroke {
    stroke: $primary-color;
  }
}

.icon--white {
  .icon--fill {
    fill: $white;
  }
  .icon--stroke {
    stroke: $white;
  }
}

.icon-spinner {
  @include animation(spinner-rotate 2s linear infinite);
}

@include keyframes(spinner-rotate) {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(359deg);
  }
}
