<%- content_for :title, "Notifications" -%>

<div class="spacing">
  <div>
    <button class="button" data-notification-sample>Show basic notification</button>
  </div>
  <div>
    <button class="button" data-notification-with-actions>Show notification with actions</button>
  </div>
</div>